@font-face {
	font-family: 'SupercellText-Bold';
	src: url('../fonts/supercelltext_w_bd.eot');
	src: url('../fonts/supercelltext_w_bd.eot#iefix') format('embedded-opentype'),
	url('../fonts/supercelltext_w_bd.woff2') format('woff2'),
	url('../fonts/supercelltext_w_bd.woff') format('woff'),
	url('../fonts/supercelltext_w_bd.ttf') format('truetype');
}    
@font-face {
	font-family: 'SupercellText-Medium';
	src: url('../fonts/supercelltext_w_md.eot');
	src: url('../fonts/supercelltext_w_md.eot#iefix') format('embedded-opentype'),
	url('../fonts/supercelltext_w_md.woff2') format('woff2'),
	url('../fonts/supercelltext_w_md.woff') format('woff'),
	url('../fonts/supercelltext_w_md.ttf') format('truetype');
}    
@font-face {
	font-family: 'SupercellText-Regular';
	src: url('../fonts/supercelltext_w_rg.eot');
	src: url('../fonts/supercelltext_w_rg.eot#iefix') format('embedded-opentype'),
	url('../fonts/supercelltext_w_rg.woff2') format('woff2'),
	url('../fonts/supercelltext_w_rg.woff') format('woff'),
	url('../fonts/supercelltext_w_rg.ttf') format('truetype');
}    